<div>
  
  <!-- <p>
    <button type="button" [routerLink] = "['/Login']" class="btn btn-primary btn-sm" (click)="selectTab(2)"   >Login</button>
    <button type="button" [routerLink] = "['/Dashboard']"     class="btn btn-primary btn-sm" (click)="selectTab(2)">Dashboard</button>
  </p> -->
  <!-- <p>
    <button type="button" class="btn btn-primary btn-sm" (click)="disableEnable()">
      Enable / Disable third tab
    </button>
  </p> -->
  <!-- <hr/> -->
  <!-- <tabset #staticTabs>
    
    <tab ><router-outlet></router-outlet></tab>
    
   
    
  </tabset> -->

 <!--  <router-outlet></router-outlet> -->
</div>