<div class="container">
  <!-- <h3 mat-dialog-title>Add new Issue</h3> -->

  <!-- <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm"> -->

<!-- <div class="form"> -->
       <!-- <mat-form-field  color="accent"> -->
        <b>Id*:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mat-slider [thumb-label]="thumbLabel"  [(ngModel)]="data.id"  ></mat-slider></b><!--<input   name="id"  >  -->
    
        
        
       
       
       
        
       
        <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
      <!-- </mat-form-field>  -->
    <!-- </div> -->
    
    
     
    

    <!--Textarea for demo purposes-->
    <!-- <div class="form">
      <mat-form-field color="accent"> -->
       <b>Name*:&nbsp;&nbsp;&nbsp;&nbsp;  <input type="text"   [(ngModel)]="data.name" name="name" ></b>
        <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
      <!-- </mat-form-field>
    </div> -->

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Age" [(ngModel)]="data.age" name="age" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div> -->
    <b>Age*:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mat-slider [thumb-label]="thumbLabel"  [(ngModel)]="data.age"  ></mat-slider></b><!--<input   name="id"  >  -->
    <!-- <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Url" [(ngModel)]="data.url" name="url">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Created at" [(ngModel)]="data.created_at" name="created_at">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Updated at" [(ngModel)]="data.updated_at" name="updated_at">
      </mat-form-field>
    </div> -->

    <div mat-dialog-actions>
       <button mat-button [type]="submit"  [mat-dialog-close]="1" (click)="confirmAdd()">Save</button><!--[disabled]="!formControl.valid" -->
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  <!-- </form> -->
</div>

